In [4]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [5]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [6]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [2]:
for high_school in high_school_types:
    print(high_school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [8]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [9]:
#Add the Pandas dependency
import pandas as pd

In [10]:
# Create a Pandas Series from a list
school_series = pd.Series(high_schools)

In [11]:
# Retrieve series by calling the variable
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [15]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [16]:
# Convert the dictionaries to a DataFrame
school_df = pd.DataFrame(high_school_dicts)

In [17]:
# Retrieve the DataFrame
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [18]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [3]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

NameError: name 'pd' is not defined

In [20]:
# Add the lists to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school

In [21]:
#Print the DataFrame.
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [27]:
# Create a dictionary of information on high schools
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [28]:
# Initialize a new data frame
high_schools_df = pd.DataFrame()

In [29]:
high_schools_df["High Schools"] = high_schools_dict

In [30]:
# Print the high schools dict which has been converted to a data frame
high_schools_df

            High Schools
School ID      School ID
school_name  school_name
type                type

In [31]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [32]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [33]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [34]:
#Create new lists
high_school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
high_school_name = "Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"
high_school_type = "District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District","Charter", "Charter", "Charter", "District", "District", "District", "Charter"

In [35]:
# initialize a new DataFrame
high_schools2_df = pd.DataFrame()

In [36]:
# add the lists to the DataFrame
high_schools2_df["High School ID"] = high_school_id
high_schools2_df["High School Name"] = high_school_name
high_schools2_df["High School Type"] =high_school_type

In [37]:
#Print DataFrame
high_schools2_df

    High School ID       High School Name High School Type
0                0      Huang High School         District
1                1   Figueroa High School         District
2                2    Shelton High School          Charter
3                3  Hernandez High School         District
4                4    Griffin High School          Charter
5                5     Wilson High School          Charter
6                6    Cabrera High School          Charter
7                7     Bailey High School         District
8                8     Holden High School          Charter
9                9       Pena High School          Charter
10              10     Wright High School          Charter
11              11  Rodriguez High School         District
12              12    Johnson High School         District
13              13       Ford High School         District
14              14     Thomas High School          Charter